span.rn { 
	padding:2px 5px; 
	border-radius:4px; 
	background:#fafafa; 
	border:1px solid #eee; 
	float:left; 
	margin:15px 10px 15px 0; 
	color: black;
}

dt a:visited {
	color: blue;
}

dt a{
	color: blue;
}