<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ianew</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        
        <mapping resource="uow/ia/bean/CaseIssues.hbm.xml" />
        <mapping resource="uow/ia/bean/DangerTypes.hbm.xml" />
        <mapping resource="uow/ia/bean/StatusTypes.hbm.xml" />
        <mapping resource="uow/ia/bean/AddressesHistories.hbm.xml" />
        <mapping resource="uow/ia/bean/IndividualCasesHistories.hbm.xml" />
        <mapping resource="uow/ia/bean/PlanDevelopersHistories.hbm.xml" />
        <mapping resource="uow/ia/bean/PlansHistories.hbm.xml" />
        <mapping resource="uow/ia/bean/Roles.hbm.xml" />
        <mapping resource="uow/ia/bean/UserRoles.hbm.xml" />
        <mapping resource="uow/ia/bean/CriteriaControlValues.hbm.xml" />
        <mapping resource="uow/ia/bean/Contacts.hbm.xml" />
        <mapping resource="uow/ia/bean/TitleTypes.hbm.xml" />
        <mapping resource="uow/ia/bean/Events.hbm.xml" />
        <mapping resource="uow/ia/bean/GoalTypes.hbm.xml" />
        <mapping resource="uow/ia/bean/GenderTypes.hbm.xml" />
        <mapping resource="uow/ia/bean/Risks.hbm.xml" />
        <mapping resource="uow/ia/bean/CommunicationTypes.hbm.xml" />
        <mapping resource="uow/ia/bean/EnquiryIssuesHistories.hbm.xml" />
        <mapping resource="uow/ia/bean/PlanGoals.hbm.xml" />
        <mapping resource="uow/ia/bean/EnquiriesHistories.hbm.xml" />
        <mapping resource="uow/ia/bean/CriteriaControls.hbm.xml" />
        <mapping resource="uow/ia/bean/EmploymentTypes.hbm.xml" />
        <mapping resource="uow/ia/bean/AccommodationTypes.hbm.xml" />
        <mapping resource="uow/ia/bean/Addresses.hbm.xml" />
        <mapping resource="uow/ia/bean/RisksHistories.hbm.xml" />
        <mapping resource="uow/ia/bean/ClientDisabilitiesHistories.hbm.xml" />
        <mapping resource="uow/ia/bean/IssueTypes.hbm.xml" />
        <mapping resource="uow/ia/bean/Enquiries.hbm.xml" />
        <mapping resource="uow/ia/bean/EnquiryIssues.hbm.xml" />
        <mapping resource="uow/ia/bean/ClientDisabilities.hbm.xml" />
        <mapping resource="uow/ia/bean/DisabilityTypes.hbm.xml" />
        <mapping resource="uow/ia/bean/ReviewFrequencies.hbm.xml" />
        <mapping resource="uow/ia/bean/PlanGoalsHistories.hbm.xml" />
        <mapping resource="uow/ia/bean/Reminders.hbm.xml" />
        <mapping resource="uow/ia/bean/Calendars.hbm.xml" />
        <mapping resource="uow/ia/bean/DocumentLinks.hbm.xml" />
        <mapping resource="uow/ia/bean/PriorityTypes.hbm.xml" />
        <mapping resource="uow/ia/bean/Users.hbm.xml" />
        <mapping resource="uow/ia/bean/ContactTypes.hbm.xml" />
        <mapping resource="uow/ia/bean/IndividualCaseCommunications.hbm.xml" />
        <mapping resource="uow/ia/bean/Messages.hbm.xml" />
        <mapping resource="uow/ia/bean/EnquiryTypes.hbm.xml" />
        <mapping resource="uow/ia/bean/Plans.hbm.xml" />
        <mapping resource="uow/ia/bean/ContactsHistories.hbm.xml" />
        <mapping resource="uow/ia/bean/IndividualCases.hbm.xml" />
        <mapping resource="uow/ia/bean/PlanDevelopers.hbm.xml" />
        <mapping resource="uow/ia/bean/CulturalBackgroundTypes.hbm.xml" />
        <mapping resource="uow/ia/bean/IaCommunicationsHistories.hbm.xml" />
        <mapping resource="uow/ia/bean/CaseIssuesHistories.hbm.xml" />
        <mapping resource="uow/ia/bean/ContactEmployments.hbm.xml" />
    </session-factory>
</hibernate-configuration>
