<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">
	<debug />
	<global-method-security pre-post-annotations="enabled" secured-annotations="enabled"> <!-- secured-annotations="enabled" -->
		<protect-pointcut expression="execution(* uow.ia.*service.*(..))" access="ROLE_ADMIN"/>
	</global-method-security>


	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/" access="permitAll" />
		<intercept-url pattern="/styles/**" access="permitAll" />
		<intercept-url pattern="/resources/**" access="permitAll" />
		<intercept-url pattern="/js/**" access="permitAll" />
		<intercept-url pattern="/login" access="permitAll" />
		<intercept-url pattern="/enquiryList/**" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" />
		<intercept-url pattern="/enquiry/**" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" />
		<intercept-url pattern="/case/**" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" />
		<intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
		
		<form-login login-page="/login" authentication-failure-url="/login?error"
			username-parameter="username" password-parameter="password" />
		<session-management invalid-session-url="/login?timeout">
			<!-- <concurrency-control  max-sessions="1" error-if-maximum-exceeded="true" expired-url="/login.jsp"></concurrency-control> -->
		</session-management>
		<logout invalidate-session="false" logout-success-url="/login?logout" />
		<access-denied-handler ref="accessDeniedHandler"/>
	</http>
	<authentication-manager>
		<authentication-provider user-service-ref="MyUserDetails">
			<password-encoder hash="md5" />
		</authentication-provider>
	</authentication-manager>
	<beans:bean id="accessDeniedHandler" class="uow.ia.springsecurity.MyAccessDeniedHandler">
		<beans:property name="accessDeniedUrl" value="/IANEW/403" />
	</beans:bean>
</beans:beans> 
